<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="container">

            
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse  justify-content-between align-items-center" id="navbarSupportedContent">
                <div class="nav-content d-flex  justify-content-center">

                  <a class="nav-link" href=""><img src="../../../assets/logo.png" alt="logo"></a>
                </div>
                <br>
                <div class="  d-flex flex-lg-row flex-column align-items-center">
                  <a class="nav-link" href="">Book flights</a>
                  <mat-form-field class="m-4" appearance="fill">
                      <mat-label>Select an option</mat-label>
                      <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field class="m-4" appearance="fill">
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected">
                      <mat-option>None</mat-option>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="nav-item">
                  <a style="height: 40px; width: 100px;" href="" class="nav-link btn btn-success d-flex align-items-center justify-content-center"> <span><img src="../../../assets/log-in.png" alt="log-in"></span> Sign in</a>
                </div>
                <div class="nav-item m-2">
                  <a style="height: 40px; width: 100px;" href="" class="nav-link btn btn-success d-flex align-items-center justify-content-center"> <img src="../../../assets/shopping_basket.png" alt="basket"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
</div>