<div class="login-container">
	<div class="login-content">
		
		<mat-card>
            <a href="" class="btn btn-light m-2 d-flex justify-content-center align-items-center"><img style="margin-right: 15px;" src="../../../assets/fblogo.png" alt="fb">Continue with Facebook</a>
            <a href="" class="btn btn-light m-2 d-flex justify-content-center align-items-center"><img style="margin-right: 25px;" src="../../../assets/google_24px.png" alt="google">Continue with Google</a>
            <p class="text-center m-2">or log in with your email</p>
			<form class="d-flex flex-column align-items-center justify-content-center" [formGroup]="logInForm" #formDirective="ngForm" 
  (ngSubmit)="onSubmit(logInForm, formDirective)">
				
				<mat-form-field >
					<input autofocus type="text" matInput placeholder="Username *" formControlName="username">
					<mat-error *ngIf="checkValidation('username')">
						{{ fieldRequired }}
					</mat-error>
				</mat-form-field>


				<mat-form-field >
					<input type="password" autocomplete="false" matInput placeholder="Password *" formControlName="password">
          <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
      <mat-error *ngIf="checkValidation('password')">
        {{ getErrorPassword() }}
      </mat-error>
				</mat-form-field>
				
  <hr>
			<div class="socialMediaFlex">
        	<button  [disabled]="logInForm.invalid"  class="m-4"  type="submit" mat-raised-button color="primary">Submit</button>
      </div>
			</form>
		</mat-card>
	</div>
</div>