<h1>3. infant</h1>
<div class="container--form">
  <form
    class="d-flex flex-column"
    [formGroup]="infantForm"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(formDirective)"
  >
    <div class="d-flex align-items-between justify-content-between w-100">
      <mat-form-field>
        <input
          autofocus
          type="text"
          matInput
          placeholder="First Name *"
          formControlName="name"
        />
        <mat-error *ngIf="checkValidation('name')">
          {{ fieldRequired }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          autofocus
          type="text"
          matInput
          placeholder="Last Name *"
          formControlName="surname"
        />
        <mat-error *ngIf="checkValidation('surname')">
          {{ fieldRequired }}
        </mat-error>
      </mat-form-field>
      <mat-radio-group formControlName="gender">
        <mat-radio-button
          class="btn-check-custom"
          name="options"
          id="female"
          [value]="'female'"
        >
        </mat-radio-button>
        <mat-label
          for="female"
          [ngClass]="{
            active: infantForm.get('gender')?.value === 'female'
          }"
          (click)="setGender('female')"
          class="btn btn-primary m-2"
          >Female</mat-label
        >
        <mat-radio-button
          class="btn-check-custom"
          name="options"
          id="male"
          [value]="'male'"
        >
        </mat-radio-button>
        <mat-label
          for="male"
          [ngClass]="{
            active: infantForm.get('gender')?.value === 'male'
          }"
          (click)="setGender('male')"
          class="btn btn-primary"
          >Male</mat-label
        >
      </mat-radio-group>

      <mat-error *ngIf="checkValidation('gender')">
        {{ fieldRequired }}
      </mat-error>

      <div class="d-flex justify-content-center">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker2"
            formControlName="dateOfBirth"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="checkValidation('dateOfBirth')">
            {{ dateErrors() }}
          </mat-error>
        </mat-form-field>
      </div>

      <hr />
    </div>
  </form>
</div>
