<div style="padding-top: 15px" class="container-md d-flex">
  <span>{{ userState.searchParams?.from }}</span>
  <span><img src="../../../assets/flightPath.png" alt="plane" /></span>
  <div>
    <span>{{ userState.searchParams?.to }}</span>
    <span><img src="../../../assets/dot.png" alt="dot" /></span>
    <span
      >{{
        userState.searchParams?.date?.startDate
          | userFormat : "shortDate" : headState.dateFormat
      }}
      -
      {{
        userState.searchParams?.date?.endDate
          | userFormat : "shortDate" : headState.dateFormat
      }}</span
    >
    <span><img src="../../../assets/dot.png" alt="dot" /></span>
    <span>{{
      (userState.searchParams?.passengers?.adult || 0) +
        (userState.searchParams?.passengers?.child || 0) +
        (userState.searchParams?.passengers?.infant || 0)
    }}</span>
    <span><img src="../../../assets/passenger.png" alt="passanger" /></span>
  </div>
  <span class="edit" (click)="changeEditVIew()">edit</span>
</div>
<app-flights-form *ngIf="showEdit" [isEdit]="true"></app-flights-form>
