<div style="padding-top: 20px;" class="container-md d-flex">
  <span>starting point</span>
  <span><img src="../../../assets/flightPath.png" alt="plane" /></span>
  <div>
    <span>return</span>
    <span><img src="../../../assets/dot.png" alt="dot" /></span>
    <span>arrive date</span>
    <span><img src="../../../assets/dot.png" alt="dot" /></span>
    <span>passanger number</span>
    <span><img src="../../../assets/passenger.png" alt="passanger" /></span>
  </div>
  <a href="" style="margin-left: 15px; text-decoration: none">edit</a>
</div>
