table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.clickable {
  cursor: pointer;
}

.mat-mdc-header-row th {
  font-weight: 700;
}

.icon {
  font-weight: bold;
}

.payed {
  color: green;
}

.not-payed {
  color: red;
}
