p {
  font-family: Lato;
}

.progress-wrapper {
  padding: 2rem;
}
/* .btn-check-custom {
  position: absolute;
  clip: rect(0, 0, 0, 0);
} */

mat-button-toggle-group {
  height: 55px;
}
mat-button-toggle {
  display: flex;
  align-items: center;
}
