p {
  font-family: Lato;
}

.progress-wrapper {
  padding: 2rem;
}

mat-button-toggle-group {
  height: 55px;
}
mat-button-toggle {
  display: flex;
  align-items: center;
}

.count {
  align-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 500;
}
