<h1>
  <span class="d-inline-flex align-items-center"
    ><img
      style="width: 25px"
      src="../../../assets/contactinfo.png"
      alt="contact img"
  /></span>
  Contact details
</h1>
<p>
  We need contact details to be able to deliver the latest information regarding
  your flight.
</p>
<div class="container--form">
  <div
    class="d-flex flex-column justify-content-between align-items-center flex-md-row flex-wrap"
    [formGroup]="control"
  >
    <mat-form-field style="width: 240px">
      <input
        autofocus
        type="email"
        matInput
        placeholder="Email *"
        formControlName="email"
      />
      <mat-error *ngIf="checkValidation('email')">
        {{ emaiErrors() }}
      </mat-error>
    </mat-form-field>

    <mat-select-country
      style="width: 240px !important"
      formControlName="country"
      [itemsLoadSize]="5"
      (onCountrySelected)="onCountrySelected($event)"
    >
      <mat-error *ngIf="checkValidation('country')">
        {{ fieldRequired }}
      </mat-error>
    </mat-select-country>

    <mat-form-field
      style="width: 240px"
      appearance="fill"
      *ngIf="phoneNumber != ''"
    >
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        type="text"
        formControlName="telephone"
        [value]="phoneNumber"
        (keydown)="onTelephoneKeydown($event)"
      />
      <mat-hint>{{ phoneNumber }}-***-***-****</mat-hint>
      <mat-error *ngIf="checkValidation('telephone')">
        {{ phoneErrors() }}
      </mat-error>
    </mat-form-field>
    <br />
    <br />
  </div>
</div>
