<h1>Contact details</h1>
<p>
  We need contact details to be able to deliver the latest information regarding
  your flight.
</p>
<div class="container--form">
  <form
    class="d-flex flex-column"
    [formGroup]="contact"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(formDirective)"
  >
    <mat-form-field class="col-3">
      <input
        autofocus
        type="email"
        matInput
        placeholder="Email *"
        formControlName="email"
      />
      <mat-error *ngIf="contact.hasError('required','email')">
        {{ fieldRequired }}
      </mat-error>
      <mat-error *ngIf="contact.hasError('pattern', 'email')">
        email is not valid 
      </mat-error>
    </mat-form-field>
  </form>
</div>
