:host {
  pointer-events: none !important;
  display: flex;
  justify-content: flex-end;
}

mat-stepper {
  background: transparent;
}
@media (max-width: 991px) {
  mat-stepper {
    max-width: 270px;
  }
}
@media (max-width: 841px) {
  mat-stepper {
    max-width: 120px;
  }
}
