<div class="container">
  <h2>Summary</h2>
  <app-flight-details
    [oneWayFlight]="oneWayFlight"
    [backFlight]="backFlight"
    [flightDetails]="passangersInfo"
  ></app-flight-details>
  <app-flight-fare
    [oneWayFlight]="oneWayFlight"
    [backFlight]="backFlight"
    [flightDetails]="passangersInfo"
  ></app-flight-fare>
  <br />
  <div class="d-flex justify-content-end">
    <div
      class="buttons col-6 d-flex justify-content-between align-items-center"
    >
      <button class="link" (click)="goBack()">back</button>
      <button class="btn btn-light">Add to order cart</button>
      <button class="btn btn-primary">Buy now</button>
    </div>
  </div>
</div>
