<div class="container-bill d-flex justify-content-between m-t-4 flex-wrap">
  <div class="card col-xl-5 col-12" *ngIf="oneWayFlight">
    <div *ngFor="let passanger of flightDetails.passengers.adult">
      <div class="card-body">
        <h5 class="card-title">Adult Fare</h5>
        <p class="card-text">
          fare:
          {{
            oneWayFlight.cost - oneWayFlight.cost * 0.2
              | currency : state.currencyFormat
          }}
        </p>
        <p class="card-text">
          Tax and Service Charge:
          {{ oneWayFlight.cost * 0.2 | currency : state.currencyFormat }}
        </p>
        <p class="card-text">
          Total Price:
          <span class="price__Ticket">{{
            oneWayFlight.cost | currency : state.currencyFormat
          }}</span>
        </p>
      </div>
    </div>
    <hr />
    <div *ngFor="let passanger of flightDetails.passengers.child">
      <div class="card-body">
        <h5 class="card-title">Child Fare</h5>
        <p class="card-text">
          fare:
          {{
            oneWayFlight.cost - oneWayFlight.cost * 0.2
              | currency : state.currencyFormat
          }}
        </p>
        <p class="card-text">
          Tax and Service Charge:
          {{ oneWayFlight.cost * 0.2 | currency : state.currencyFormat }}
        </p>
        <p class="card-text">
          Total Price:
          <span class="price__Ticket">{{
            oneWayFlight.cost | currency : state.currencyFormat
          }}</span>
        </p>
      </div>
    </div>
    <hr />
    <div *ngFor="let passanger of flightDetails.passengers.infant">
      <div class="card-body">
        <h5 class="card-title">Infant Fare</h5>
        <p class="card-text">
          fare:
          {{
            oneWayFlight.cost - oneWayFlight.cost * 0.2
              | currency : state.currencyFormat
          }}
        </p>
        <p class="card-text">
          Tax and Service Charge:
          {{ oneWayFlight.cost * 0.2 | currency : state.currencyFormat }}
        </p>
        <p class="card-text">
          Total Price:
          <span class="price__Ticket">{{
            oneWayFlight.cost | currency : state.currencyFormat
          }}</span>
        </p>
      </div>
    </div>
    <hr />
  </div>
  <div class="card col-xl-5 col-12" *ngIf="backFlight">
    <div *ngFor="let passanger of flightDetails.passengers.adult">
      <div class="card-body">
        <h5 class="card-title">Adult Fare</h5>
        <p class="card-text">
          fare:
          {{
            backFlight.cost - backFlight.cost * 0.2
              | currency : state.currencyFormat
          }}
        </p>
        <p class="card-text">
          Tax and Service Charge:
          {{ backFlight.cost * 0.2 | currency : state.currencyFormat }}
        </p>
        <p class="card-text">
          Total Price:
          <span class="price__Ticket">{{
            backFlight.cost | currency : state.currencyFormat
          }}</span>
        </p>
      </div>
    </div>
    <hr />
    <div *ngFor="let passanger of flightDetails.passengers.child">
      <div class="card-body">
        <h5 class="card-title">Child Fare</h5>
        <p class="card-text">
          fare:
          {{
            backFlight.cost - backFlight.cost * 0.2
              | currency : state.currencyFormat
          }}
        </p>
        <p class="card-text">
          Tax and Service Charge:
          {{ backFlight.cost * 0.2 | currency : state.currencyFormat }}
        </p>
        <p class="card-text">
          Total Price:
          <span class="price__Ticket">{{
            backFlight.cost | currency : state.currencyFormat
          }}</span>
        </p>
      </div>
    </div>
    <hr />
    <div
      *ngFor="let passanger of flightDetails.passengers.infant; let i = index"
    >
      passangerCount += (i+1)
      <div class="card-body">
        <h5 class="card-title">Infant Fare</h5>
        <p class="card-text">
          fare:
          {{
            backFlight.cost - backFlight.cost * 0.2
              | currency : state.currencyFormat
          }}
        </p>
        <p class="card-text">
          Tax and Service Charge:
          {{ backFlight.cost * 0.2 | currency : state.currencyFormat }}
        </p>
        <p class="card-text">
          Total Price:
          <span class="price__Ticket">{{
            backFlight.cost | currency : state.currencyFormat
          }}</span>
        </p>
      </div>
    </div>
    <hr />
  </div>
</div>
<hr />
<div class="d-flex justify-content-between p-2">
  <br />
  <p class="text-end">total:</p>
  <p class="text-end">{{ totalPrice() | currency : state.currencyFormat }}</p>
</div>
