.flight-card {
  width: 15%;
  background-color: white;
  border-right: 2px solid black;
  text-align: center;
  position: relative;
  padding-bottom: 16px;
}
.cards-container{
  position: relative;
}
.highlighted {
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* transform: translateX(-50%); */
}
.moveElement {
  z-index: 2;
  /* transform: translateY(-15%); */
  /* background-color: transparent; */
  background: #f9f9f9;
  transition: all 0.4s;
  transform: scale(1.1) translateY(-13px);
  border: thin gray solid;
  box-shadow: gray 3px 3px 4px;
}
.arrows{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
}
.arrows>img{
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .flight-card{
    width: 45%;
  }
}