<h2 style="margin-left: 15px">
  <span><img src="../../../assets/planeRight.png" alt="planr" /></span>
  {{ flights[0].from }} to {{ flights[0].to }}
</h2>
<div
  *ngIf="!state.isSelected"
  class="cards-container justify-content-center align-items-center d-flex m-2 flex-wrap"
>
  <div
    *ngFor="let flight of flights | slice : 0 : 5"
    class="flight-card m-2"
    (click)="selectCard(card, flight)"
    #card
    [id]="flight.id"
  >
    <p>{{ flight.date | date : "dd MMM" }}</p>
    <p>{{ flight.date | date : "EEEE" }}</p>

    <!-- will use user pipe next -->
    <p>{{ flight.cost | currency : "USD" }}</p>
    <div
      *ngIf="selectedCard?.id === card.id"
      class="highlighted"
      appHiglight
      [elementAvailableSeats]="flight.available_seats"
      [elementTotalSeats]="flight.total_seats"
    ></div>
  </div>
</div>
<app-flight-selected
  *ngIf="selectedCard"
  [flight]="selectedCard"
  (changeEv)="selectFlight($event)"
  [selected]="state.isSelected"
></app-flight-selected>
