<h2 style="margin-left: 15px">
  <span><img src="../../../assets/planeRight.png" alt="planr" /></span>
  {{ flights[0].from }} to {{ flights[0].to }}
</h2>
<div
  *ngIf="!state.isSelected"
  class="cards-container justify-content-center align-items-center d-flex m-2 flex-wrap"
>
<div class="arrows d-flex justify-content-between align-items-center">
  <img (click)="moveLeft()" src="../../../../assets/left-arrow.png" alt="left">
  <img (click)="moveRIght()" src="../../../../assets/right-arrow.png" alt="right">
</div>
  <div
    *ngFor="let flight of flightCurrent"
    class="flight-card m-2"
    (click)="selectCard(card, flight)"
    #card
    [id]="flight.id"
  >
    <p>{{ flight.date | date : "dd MMM" }}</p>
    <p>{{ flight.date | date : "EEEE" }}</p>

    <!-- will use user pipe next -->
    <p>{{ flight.cost | currency : currencyFormat }}</p>
    <div
      *ngIf="selectedCard?.id === card.id"
      class="highlighted"
      appHiglight
      [elementAvailableSeats]="flight.available_seats"
      [elementTotalSeats]="flight.total_seats"
    ></div>
  </div>
</div>
<app-flight-selected
  *ngIf="selectedCard"
  [currencyFormat]="currencyFormat"
  [flight]="selectedCard"
  (changeEv)="selectFlight($event)"
  [selected]="state.isSelected"
></app-flight-selected>
