<div class="container d-flex align-items-center justify-content-between">
  <div>
    <p>{{ flight.date | date : "mediumDate" }}</p>
    <!-- to do  -->
    <p>4:50 (time ) <span>utc timeZone</span></p>
    <p>{{ flight.from }}</p>
  </div>
  <div class="d-flex flex-column align-items-center">
    <!-- to do  -->
    <p>time of flight</p>
    <div>
      <span
        ><img
          style="max-width: 10vw"
          src="../../../assets/Arrow 1.png"
          alt="" /></span
      ><img src="../../../assets/planeFlying.jpg" alt="plane" />
      <span
        ><img style="max-width: 10vw" src="../../../assets/Arrow 1.png" alt=""
      /></span>
    </div>
    <!-- to do  -->
    <p>type of flight</p>
  </div>
  <div>
    <!-- to do  -->
    <p>sat march 28 (date of arriwal)</p>
    <!-- to do  -->
    <p><span>utc timeZone</span>4:50 (time )</p>
    <p>{{ flight.to }}</p>
  </div>
  <div>
    <!-- to do  -->
    <p>Flight no. FR 1925</p>
  </div>
  <div class="text-center">
    <p  class="d-flex justify-content-center align-items-center rounded-pill"
    style="height: 70px; "
      appHiglight
      [elementAvailableSeats]="flight.available_seats"
      [elementTotalSeats]="flight.total_seats"
      >
      {{ flight.available_seats }} seats available
    </p>
    <div>
      <p style="margin: 0">price</p>
      <!-- with user pipe -->
      <p>{{ flight.cost | currency : "USD" }}</p>
    </div>
  </div>
  <button
    *ngIf="!selected; else edit"
    (click)="handleSelect()"
    class="btn btn-primary"
  >
    select
  </button>

  <ng-template #edit
    ><button (click)="handleSelect()" class="btn btn-primary">
      edit
    </button></ng-template
  >
</div>
